*::before,
*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:focus {
  outline: 4px solid orangered;
}

a {
  color: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
}

.video {
  z-index: -100;
  position: fixed;
  top: 50%; left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 450px) {
  .video {
    animation: videoMove 10s ease-in-out infinite;
  }
}

@keyframes videoMove {
  25% {
    transform: translateX(-25%) translateY(-50%);
  }
  75% {
    transform: translateX(-75%) translateY(-50%);
  }
}

.input-wrapper {
  z-index: 100;
  position: absolute;
  top: 0; left: 0; right: 0;
}

input {
  width: 100%;
  padding: 1em;

  text-align: center;
  font-size: 4em;
}

label,
input {
  opacity: 0;

  transform: translateY(-100%);
  transition: transform 1s, opacity 1s;
}

.input-wrapper:hover label,
.input-wrapper:hover input,
input:focus + label,
input:focus {
  opacity: 1;
  transform: translateY(0%);
  transition: transform .15s, opacity .15s;
}

label {
  position: absolute;
  top: 5px;
  left: 10px;
  color: black;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
}

button {
  z-index: 200;
  position: absolute;
  top: 0%; bottom: 0%;
  width: 100%;
  margin: 0 auto;
  padding: .5em;

  color: white;
  font-weight: bold;
  font-size: 4em;
  text-align: center;

  background: rgba(0,0,0,.95);
  transition: opacity 1s, background .15s;
}

button:hover {
  background: rgba(0,0,0,.75);
  cursor: pointer;
}

button:focus {
  box-shadow: inset 0 0 0 4px orangered;
}


button:active {
  background: rgba(0,0,0,.5);
}

.links {
  text-align: right;
  position: fixed;
  padding: 1em;
  bottom: 0;
  width: 100%;
}

.links span {
  display: inline-block;
  padding: .25em;
  margin-left: .25em;

  color: white;
  font-family: sans-serif;

  background-color: black;

  opacity: .5;
  transition: opacity .25s;
}

.links span:hover {
  opacity: .85;
}

/*disables any smoothing of the video*/
canvas {
  image-rendering: optimizeSpeed;             
  image-rendering: -moz-crisp-edges;          
  image-rendering: -webkit-optimize-contrast; 
  image-rendering: -o-crisp-edges;            
  image-rendering: pixelated;                 
  -ms-interpolation-mode: nearest-neighbor;   
}

