*::before,
*,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    width: 100%;
    height: 100%;
}

.video{
    z-index: -100;
    position: fixed;
    top: 50%; left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 450px){
    .video{
        -webkit-animation: videoMove 10s ease-in-out infinite;
                animation: videoMove 10s ease-in-out infinite;
    }
}

@-webkit-keyframes videoMove{
    25%{
        -webkit-transform: translateX(-25%) translateY(-50%);
            -ms-transform: translateX(-25%) translateY(-50%);
                transform: translateX(-25%) translateY(-50%);
    }
    75%{
        -webkit-transform: translateX(-75%) translateY(-50%);
            -ms-transform: translateX(-75%) translateY(-50%);
                transform: translateX(-75%) translateY(-50%);
    }
}

@keyframes videoMove{
    25%{
        -webkit-transform: translateX(-25%) translateY(-50%);
            -ms-transform: translateX(-25%) translateY(-50%);
                transform: translateX(-25%) translateY(-50%);
    }
    75%{
        -webkit-transform: translateX(-75%) translateY(-50%);
            -ms-transform: translateX(-75%) translateY(-50%);
                transform: translateX(-75%) translateY(-50%);
    }
}

.input-wrapper{
    position: absolute;
    top: 0; left: 0; right: 0;
}

.input-wrapper:hover input{
    opacity: 1;
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%);
    -webkit-transition: -webkit-transform .15s, opacity .15s;
            transition: transform .15s, opacity .15s;
}

input{
    width: 100%;
    padding: 1em;

    text-align: center;
    font-size: 4em;

    opacity: 0;

    -webkit-transform: translateY(-100%);

        -ms-transform: translateY(-100%);

            transform: translateY(-100%);
    -webkit-transition: -webkit-transform 1s, opacity 1s;
            transition: transform 1s, opacity 1s;
}

button{
    position: absolute;
    top: 0%; bottom: 0%;
    width: 100%;
    margin: 0 auto;
    padding: .5em;

    color: white;
    font-weight: bold;
    font-size: 4em;
    text-align: center;

    background: rgba(0,0,0,.95);
    -webkit-transition: opacity 1s, background .15s;
            transition: opacity 1s, background .15s;
}

button:hover{
    background: rgba(0,0,0,.75);
    cursor: pointer;
}

button:active{
    background: rgba(0,0,0,.5);
}

.original{
    z-index: -5;
    position: fixed;
    padding: 1em;
    bottom: 0;
    width: 100%;
}

.original a{
    float: right;
    padding: .25em;

    color: white;
    font-family: sans-serif;

    background-color: black;

    opacity: .25;
    -webkit-transition: opacity .25s;
            transition: opacity .25s;
}

.original a:hover{
    opacity: .85;
}
